body {
    background-image: url("img/body-background.jpg");
   }
.killmargin{
    margin: 0;
}

//scrollbar vars
$scrollebarwidth: 0.7em;
$scrollbarcolor: rgb(194, 191, 11); 
$scrollbarhovercolor: #946000;
$scrollbarroundness: 0.5em;

//scroll bar
/* width */
::-webkit-scrollbar {
    width: $scrollebarwidth;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0.5em;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $scrollbarcolor;
    border-radius: $scrollbarroundness;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $scrollbarhovercolor; 
  }


//page vars
$generalfont: cursive;
$headerfontsize: 4em;
$chalk: #F3F2F2;
$notebooklineborder: 1px solid #0f5aa5;
$notebookbackgroundcolor: #fcfcfc;

.headfont{
    font-family: $generalfont;
    font-size: $headerfontsize;
    color: $chalk;
}

.chalkboard{
    background-image: url("img/chalkboard.jpg");
    background-size: 100% 100%;
    padding: 1.8em;
    width: 100%;
    height: 100%;
}
.reqmsg{
    font-size: 2em;
    font-weight: bolder;
    color: #F3F2F2;
    font-family: cursive;
}
.errmsg{
    font-size: 2em;
    font-weight: bolder;
    color: red;
    font-family: cursive;
}
.infostyle{
    font-size: 1.8em;
    color: #F3F2F2;
    border-radius: 4px;
    font-family: cursive;
}

.shulayim {
    border: $notebooklineborder;
    border-left: 0;
    border-right: 0;
    background-color: $notebookbackgroundcolor;
}
#dateid::before{
    content: 'Finish date';
    margin-right: 0.6em;
    color: #6c757d;
    opacity: 0.7;
}
#timeid::before{
    content: 'Deadline';
    margin-right: 1.5em;
    color: #6c757d;
    opacity: 0.7;
}
.required{
    color: red;
    font-size: 1.24em;
}


.removeTopBorder {
    border-top: 0 !important;
}

//appended note vars

$notewidth: 22em;
$noteheight: 38em;
$notebackgroundcolor: rgb(255, 255, 153);
$noteborder: 1px solid rgb(83, 47, 0);

.taskcard{
    position: relative;
    display: inline-block;
    border-top: 0;
    border-bottom: 0;
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    padding-left: 0.3em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width: $notewidth;
    height: $noteheight;
    background-color: $notebackgroundcolor;
    border: $noteborder;

    //note animation settings
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 
    
    animation-duration: 0.8s; 
    -webkit-animation-duration: 0.8s;
    
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
    
    visibility: visible !important; 
    @keyframes slideRight {
        0% {
            -webkit-filter: opacity(0);
            transform: translateX(-150%);
          }    
        
        100% {transform: translateX(0%);
              -webkit-filter: opacity(1);
        }
    }
    
    @-webkit-keyframes slideRight {
        0% {-webkit-transform: translateX(-150%);
            -webkit-filter: opacity(0);
        }  
        100% {-webkit-transform: translateX(0%);
            -webkit-filter: opacity(1);
        }
    }
}

.taskcard:hover {
    .iconstyle{
        opacity: 1;
    }
    .editstyle{
        opacity: 1;
    }
}
//note information vars
//task vars

$taskheight: 21em;
$taskwidth: 13.1em;
$tasktopposition: 2.2em;
$taskleftposition: 0.5em;
$taskfontsize: 1.6em;
$tasklineheight: 190%;
$tasktextcolor: #323538;

.taskstyle {
    display: inline-block;
    position: absolute;
    overflow: auto;
    word-wrap: break-word;
    height: $taskheight;
    width: $taskwidth;
    top:  $tasktopposition;
    left: $taskleftposition;
    font-size: $taskfontsize;
    line-height: $tasklineheight;
    font-family: $generalfont;
    color: $tasktextcolor;
}
//date vars

$datetopposition: 0.2em;
$datesideposition: 0.6em;
$datefontsize: 1.7em;

.datestyle {
    display: inline-block;
    position: absolute;
    top: $datetopposition;
    left: $datesideposition;
    font-size: $datefontsize;
}
//time vars

$timetopposition: 0.2em;
$timesideposition: 0.6em;
$timefontsize: 1.7em;

.timestyle {
    display: inline-block;
    position: absolute;
    top: $timetopposition;
    right: $timesideposition;
    font-size: $timefontsize;
}

//delete icon vars
$delicontoppos: 0.5em;
$deliconsidepos: 2.8em;
$deliconsize: 2em;
$deliconcolor: red;

.iconstyle{
    opacity: 0;
    position: absolute;
    top: $delicontoppos;
    right: $deliconsidepos;
    font-size: $deliconsize;
    color: $deliconcolor;
}

//edit icon vars

$editicontoppos: 0.6em;
$editiconsidepos: 4.5em;
$editiconsize: 1.8em;
$editiconcolor: blue;

.editstyle{
    opacity: 0;
    position: absolute;
    top: $editicontoppos;
    right: $editiconsidepos;
    font-size: $editiconsize;
    color: $editiconcolor;
}



// Bootstrap runover
.form-control{
    border-radius:0;
    border-right: 0;
    border:$notebooklineborder;
    border-left-color: red !important;
    
}

input[type="text"], textarea, .form-control:focus {
    outline: none;
    box-shadow:none !important;
    border-right: 0;
    border:$notebooklineborder;
    background-color: $notebookbackgroundcolor;
}

.form-control:disabled, .form-control[readonly]{
    background-color: $notebookbackgroundcolor;
    opacity: 1;
}
.form-control::placeholder{
    opacity: 0.7; 
}

$buttonwidth: 6em;
$buttonheight: 2.5em;
$buttonfontsize:1.7em;
$buttonpadding: 0.2em;

.btn, .btn:focus{
    box-shadow: 5px 5px 7px rgba(33,33,33,0.7);
    width: $buttonwidth;
    height: $buttonheight;
    font-size: $buttonfontsize;
    padding: $buttonpadding;

}
.btn-warning{
    border: 1px solid rgb(138, 96, 19);
}

.btn-dark{
    border: 1px solid rgb(4, 19, 26);
}

.btn-danger{
    border: 1px solid rgb(94, 15, 15);
}
.btn-success{
    border: 1px solid rgb(0, 83, 0);
}
.btn-secondary{
    border: 1px solid rgb(15, 15, 15);
}